<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!books.length"
  notFoundMessage="Nothing Found!"
  resetLinkText="Go Back! ⬅"
></app-not-found>

<ul>
  <li
    *ngFor="
      let book of books
        | paginate
          : { itemsPerPage: 8, currentPage: page, totalItems: totalLength }
    "
  >
    <a routerLink="/book/{{ book.id }}">
      <img [src]="book.imageUrl" [alt]="book.title" />
      <div class="content">
        <div class="title">
          {{ book.title }}
        </div>
        <div class="author">
          {{ book.author }}
        </div>
        <div class="publish_date">
          <span>Published On: {{ book.publish_date }}</span>
        </div>
      </div>
    </a>
  </li>
</ul>

<pagination-controls
  *ngIf="books.length"
  class="page"
  (pageChange)="page = $event"
></pagination-controls>
<!-- <mat-paginator
  (page)="onPageChange($event)"
  [length]="20"
  [pageSize]="8"
  [pageSizeOptions]="[5, 10, 25, 100]"
>
</mat-paginator> -->

<!-- <pagination-controls
  (pageChange)="p = $event"
  class="float-right"
></pagination-controls> -->
