ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding:0;

}

li a{
  text-align: center;
  height: 22.5;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #e72929;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}

.author{
  color: black;
  margin-bottom: 5px;
}

li :hover{
  opacity: 0.9;
  cursor: pointer;
}

li a img{
  padding-top: 10px;
  object-fit: contain;
  height: 14.5rem;
}

.content{
  margin-top: 0.3rem;
  padding: 0.5rem 1rem;
  position: relative;
  height: 6rem;
}


.publish_date{
  color: grey;
  font-size: 0.9rem;
}

::ng-deep .mat-mdc-paginator-container{
  border: 1px solid #e72929;

}

.page{

display: flex;
justify-content: center;
align-items: center;
margin-bottom: 1rem;
border-radius: 1rem;

}

.page .ngx-pagination a, .ngx-pagination button:focus {
  outline: none !important;
  color: #e72929 !important;

}

.page .ngx-pagination .current, .ngx-pagination li :focus{
  background-color: #e72929;
  color: #e0e0e0;
  outline: none;
  border-radius: 50px;
}







