<div class="container">
  <div class="details">
    <app-title title="Login" margin="1rem 0 1rem 0.2rem"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fcon.email"
        [showErrorWhen]="isSubmitted"
        type="email"
        label="Email"
      >
      </text-input>

      <text-input
        [control]="fcon.password"
        [showErrorWhen]="isSubmitted"
        type="password"
        label="Password"
      >
      </text-input>

      <defalt-button text="Login"></defalt-button>
    </form>
  </div>
</div>
